body {
  background-color: #4E9BB5;
  margin: 0;
}
.wrapper {
  margin: 0 auto;
  width: 80%;
}
.sideleft {
  MARGIN-LEFT: -160PX;
  MARGIN-BOTTOM: -604PX;
}
.header {
  padding: 30px;
}
.Logo {
  display: inline-block;
  font-size: 70px;
  padding: 15px 50px;
  text-transform: uppercase;
}
/* navigation */
.navigation {
	background-color: #A5A3A4;
  MARGIN-LEFT: -160PX;
}
.navigation ul {
	margin: 0;
	padding-left: 250PX;
}
.navigation li {
  display: inline-block;
  padding: 15px 25px;
}
.navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}

.main {
  background-color: #4E9BB5;
  float: left;
  min-height: 300PX;
  MARGIN-LEFT: 40PX;
  width: 69%;
}
}
.sidebar {
  background-color: #cecccd;
  float: left;
  min-height: 600px;
  width: 30%;
}
.main h1 {
  padding-left: 50px;

}

.main p {
  padding: 5px 55px;
}

.sidebar h2 {
  padding-left: 20px;
}
.footer {
  clear: left;
  background-color: #514F50;
  font-size: 14px;
  padding: 20px 0;
  MARGIN-LEFT: -160PX;

}
.footer p {
  color: white;
  margin: 0;
  padding-left: 35px;
}
